.idea
.vscode
.genie
.nyc_output
.project
.settings
/index.js
/package-lock.json
/tsconfig.base.json
/artifacts
/node_modules
/Browser
/Env
/I18n
/Inferno
/View
/WS.Core
/Types/tslint.json
/Types/**/*.js
