.builder
.genie
.idea
.nyc_output
.project
.settings
.vscode
/index.js
/package-lock.json
/tsconfig.base.json
/artifacts
/node_modules
/application
/tslib.js
/tslint.json
/Types/**/*.js

/test/_entity/Date.test.js
/test/_entity/DateTime.test.js
/test/_entity/Time.test.js
/test/_object/isEqual.test.js
